name: build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    env:
      DISPLAY: :99

    steps:

    # make sure we have gfortran installed and linked
    - name: Install gfortran compiler
      uses: fortran-lang/setup-fortran@v1
      with:
        compiler: gcc

    # check out the repository
    - uses: actions/checkout@v4

    - name: compile and install giza
      run: |
        ./configure
        make
        sudo make install

    # Set up Xvfb for graphical tests
    - name: Install Xvfb to pretend to launch X-windows in the workflow
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y xvfb

    # Run tests
    - name: Run test programs, pressing enter to all prompts
      if: matrix.os == 'ubuntu-latest'
      run: |
        Xvfb :99 -screen 0 1920x1080x24 &
        echo "Current DISPLAY: $DISPLAY"
        yes "" | make -j check || { echo "Tests failed. Printing test-suite.log..."; cat test/C/test-suite.log; cat test/F90/test-suite.log; exit 1; }
 